<div class="table-container mat-elevation-z8">
  <mat-card>
    <h4>Rows / Columns</h4>
    <mat-card-content>
      <mat-slider min="1" max="11" step="1" value="1" vertical="true"  [(ngModel)]="rowSliderValue" (ngModelChange)="updateTableData()"></mat-slider>
      <mat-slider min="1" max="11" step="1" value="1" [(ngModel)]="columnSliderValue" (ngModelChange)="updateTableData()"></mat-slider>
    </mat-card-content>
  </mat-card>
</div>

<br>

<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <ng-container *ngFor="let column of columns; let colIndex = index" [cdkColumnDef]="column.columnDef">
      <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{ row[colIndex] }}</mat-cell>
    </ng-container>
      
  </mat-table>
</div>
  